{% extends 'base.html.twig' %}

{% block body %}
<h2>Liste des Réclamations</h2>

<table id="userTable" class="display table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Description</th>
            <th>Date</th>
            <th>Mail</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for reclamation in reclamations %}
        <tr>
            <td>{{ reclamation.id }}</td>
            <td>{{ reclamation.typereclamation }}</td>
            <td>{{ reclamation.description }}</td>
            <td>{{ reclamation.date ? reclamation.date|date('Y-m-d') : '' }}</td>
            <td>{{ reclamation.mail }}</td>
            <td>
                <a href="{{ path('app_reclamation_admin_show', {'id': reclamation.id}) }}" class="btn btn-sm btn-info">Voir</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
