{% extends 'front.html.twig' %}

{% block title %}
    <title>My Responses - OrphanCare</title>
{% endblock %}

{% block body %}
<section class="py-5">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="mb-0">My Responses</h2>
                </div>
            </div>
        </div>

        <div class="row">
            {% if reponses is empty %}
                <div class="col-12">
                    <div class="alert alert-info text-dark" role="alert">
                        <i class="fa fa-info-circle mr-2"></i>
                        You haven't received any responses yet.
                    </div>
                </div>
            {% else %}
                {% for reponse in reponses %}
                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 class="mb-2">Status: {{ reponse.statut }}</h5>
                                        <p class="text-sm mb-2">
                                            <strong>Indice:</strong> {{ reponse.indice }}
                                        </p>
                                        <p class="text-sm mb-2">
                                            <strong>Date:</strong> {{ reponse.date ? reponse.date|date('F j, Y') : 'Not defined' }}
                                        </p>
                                        <p class="text-sm mb-0">{{ reponse.description|slice(0, 150) ~ (reponse.description|length > 150 ? '...' : '') }}</p>
                                    </div>
                                    <div class="col-md-4 d-flex align-items-center justify-content-end">
                                        <a href="{{ path('app_reponse_show', {'id': reponse.id}) }}" class="btn btn-info mr-2">
                                            <i class="fa fa-eye mr-1"></i> View
                                        </a>
                                       
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
